.App {
  font-family: sans-serif;
  text-align: center;
}

#spantext {
  color: #366c7d;
}

body {
  background-color: #9799ba;
}

input {
  border: 0;
  padding: 15px 0;
  display: block;
  font-size: 18px;
  width: 100%;
  border: none;
  border: 2px solid black;
}
